/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 html {
   box-sizing: border-box;
 }
 body {
   font-family: 'Open Sans', sans-serif;
   font-size: 18px;
   line-height: 1.25;
   color: #2f2f2f;
   line-height: 1;
 }
 .hero {
   width: 100%;
 }
 .hero img{
   width: 100%;
   margin-top: -8px;
 }
 .header-background {
  margin: -15px;
 	background: rgba(42, 51, 56, 1);
 }
 h3.column-title{
   font-size: 48px;
   color: white;
   margin-bottom: 30px;
   padding: 10px;
   text-align: center;
 }
 button {
 	border: 1px solid #000;
 	border-radius: 5px;
 	background-color: #fff;
 	padding: 7px 10px;
 	font-size: 16px;
 	box-shadow: 2px 2px 2px rgba(130,130,130,.6);
 }
 button:hover {
 	cursor: pointer;
 	box-shadow: 3px 3px 3px rgba(128,128,128,.58);
 }
 .container {
   max-width: 1100px;
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
 }
 .flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
.flex-item {
  padding: 15px;
  width: 45%;
	min-width: 500px;
  margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid #d6d6d6;
}
input {
  font-size: 18px;
}
label {
  display: block;
	margin-bottom: 7px;
	margin-top: 15px;
	font-size: 15px;
}
p {
  margin-bottom: 10px;
}
h2, h3, h4, h5, h6 {
	font-family: 'Bungee', cursive;
	color:rgba(42, 51, 56, 1);
}
a {
	color: rgba(42, 51, 56, .95);
}
a:hover {
	cursor: pointer;
	text-shadow: 1.5px 1.5px 3px rgba(42, 51, 56, .15);
}
.hide {
	display: none;
}
#ipsumOutput {
  margin-top: 20px;
  padding-bottom: 10px;
	margin-bottom: 10px;
	max-height: 200px;
	overflow: auto;
}
.ipsumOutput {
  margin-top: 20px;
	margin-bottom: 4px;
}
#singleWordOutput {
  text-align: center;
  font-size: 2em;
}
#addTags {
	cursor: pointer;
	font-style: italic;
	font-size: 0.9rem;
	margin-left: 10px;
	color: #777;
	border: 1px dashed #aaa;
	padding: 2px 5px;
}
h1#nameDisplay {
	font-family: 'Bungee Shade', sans-serif;
	text-align: center;
  font-size: 100px;
  margin-top: 15px;
  margin-bottom: 0px;
}
h2#themeDescription {
	text-align: center;
	font-size: 35px;
	margin-top:10px;
	margin-bottom: 20px;
}
#motto {
	text-align: center;
	font-family: serif;
}
#Ego {
  content: url('/images/egokitty.png');
  width: 100%;
  margin-top: -8px;
}
#TrumpSum {
  content: url('/images/TrumpSum.png');
  width: 100%;
  margin-top: -8px;
}
#YeezIpsum {
  content: url('/images/YeezIpsum.jpg');
  width: 100%;
  margin-top: -8px;
}
#Bi-Winning-Ipsum {
  content: url('/images/Bi-Winning-Ipsum.png');
  width: 100%;
  margin-top: -8px;
}
.generatorDIV {
	width: 50%;
	display: inline-block;
}
#paragraphs, #rangeValue {
	display: inline;
}
#importantButton {
	font-family: "Bungee";
	display: block;
	margin: 5px;
}
.float-right {
  float: right;
}
#makeYourOwn {
	color: rgb(80, 80, 222);
	font-weight: bolder;
	font-variant: small-caps;
	font-size: 1.3rem;
	text-decoration: none;
}
#makeYourOwn h4 {
	text-shadow: 1.5px 1.5px 3px rgba(42, 51, 56, .125);
}
#makeYourOwn h4:hover {
	cursor: pointer;
	text-shadow: 1.5px 1.5px 3px rgba(200, 202, 179, .85);
}
.textOutputArea {
  max-height: 200px;
  overflow-y: auto;
  padding-bottom: 20px;
}
