

 /*browser reset*/
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	font-size: 100%;
 	font: inherit;
 	vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
 	display: block;
}
body {
 line-height: 1;
}
ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}
/*----------------------------------end reset--------------------------------*/
 html {
   box-sizing: border-box;
 }
 body {
   font-family: 'Open Sans', sans-serif;
   font-size: 18px;
   line-height: 1.25;
   color: #2f2f2f;
 }
 .hero {
   width: 100%;
 }
 .hero img{
   width: 100%;
   margin-top: -8px;
 }
 .header-background {
  margin: -15px;
 	background: rgba(42, 51, 56, 1);
 }
 h3.column-title{
   font-size: 48px;
   color: white;
   margin-bottom: 30px;
   padding: 10px;
   text-align: center;
 }
 button {
 	border: 1px solid #000;
 	border-radius: 5px;
 	background-color: #fff;
 	padding: 7px 10px;
 	font-size: 16px;
 	box-shadow: 2px 2px 2px rgba(130,130,130,.6);
 }
 button:hover {
 	cursor: pointer;
 	box-shadow: 3px 3px 3px rgba(128,128,128,.58);
 }
 .container {
   max-width: 1100px;
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
 }
 @mixin iconStyle($image, $cursor: default) {
   list-style-image: url('/images/#{$image}.png');
   list-style-position: inside;
   cursor: $cursor;
 }
 ul {
   @include iconStyle(whitecat);
 }
 li:hover {
   @include iconStyle(blackcat, crosshair);
 }
 .TrumpSumLiIcon {
   @include iconStyle(Wall);
   &:hover {
     @include iconStyle(target, crosshair);
   }
 }
 .Bi-Winning-IpsumLiIcon {
   @include iconStyle(pill);
   &:hover {
     @include iconStyle(mallet, crosshair);
   }
 }
 .YeezIpsumLiIcon {
   @include iconStyle(sun-glasses);
   &:hover {
     @include iconStyle(thumbs-down-icon, crosshair);
   }
 }
 @mixin contain-flex($pad) {
   padding: $pad
 }
 @mixin margOutput($top, $bot) {
   margin-top: $top;
   margin-bottom: $bot;
 }
 .flex-container {
  @include contain-flex(0px);
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
.flex-item {
  @include contain-flex(15px);
  width: 45%;
	min-width: 500px;
  margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid #d6d6d6;
}
input {
  font-size: 18px;
}
label {
  display: block;
  @include margOutput(15px, 7px);
	font-size: 15px;
}
p {
  margin-bottom: 10px;
}
h2, h3, h4, h5, h6 {
	font-family: 'Bungee', cursive;
	color:rgba(42, 51, 56, 1);
}
a {
	color: rgba(42, 51, 56, .95);
}
a:hover {
	cursor: pointer;
	text-shadow: 1.5px 1.5px 3px rgba(42, 51, 56, .15);
}
.hide {
	display: none;
}
#ipsumOutput {
  @include margOutput(20px, 10px);
  padding-bottom: 10px;
	max-height: 200px;
	overflow: auto;
}
.ipsumOutput {
  @include margOutput(20px, 4px);
}
#singleWordOutput {
  text-align: center;
  font-size: 2em;
}
#addTags {
	cursor: pointer;
	font-style: italic;
	font-size: 0.9rem;
	margin-left: 10px;
	color: #777;
	border: 1px dashed #aaa;
	padding: 2px 5px;
}
h1#nameDisplay {
	font-family: 'Bungee Shade', sans-serif;
	text-align: center;
  font-size: 100px;
  @include margOutput(15px, 0px);
}
h2#themeDescription {
	text-align: center;
	font-size: 35px;
  @include margOutput(10px, 20px);
}
#motto {
	text-align: center;
	font-family: serif;
}
@mixin spewImage($image) {
  content: url('/images/#{$image}.png');
  width: 100%;
  margin-top: -8px;
}
#Ego {
  @include spewImage(egokitty);
}
$spewers: TrumpSum Bi-Winning-Ipsum;
@each $spew in $spewers {
  ##{$spew} {
    @include spewImage($spew);
  }
}
#YeezIpsum {
  content: url('/images/YeezIpsum.jpg');
  width: 100%;
  margin-top: -8px;
}
.generatorDIV {
	width: 50%;
	display: inline-block;
}
#paragraphs, #rangeValue {
	display: inline;
}
#importantButton {
	font-family: "Bungee";
	display: block;
	margin: 5px;
}
.float-right {
  float: right;
}
#makeYourOwn {
	color: rgb(80, 80, 222);
	font-weight: bolder;
	font-variant: small-caps;
	font-size: 1.3rem;
	text-decoration: none;
}
#makeYourOwn h4 {
	text-shadow: 1.5px 1.5px 3px rgba(42, 51, 56, .125);
}
#makeYourOwn h4:hover {
	cursor: pointer;
	text-shadow: 1.5px 1.5px 3px rgba(200, 202, 179, .85);
}
.textOutputArea {
  max-height: 200px;
  overflow-y: auto;
  padding-bottom: 20px;
}
#stagingArea {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 35%;
	min-width: 250px;
	max-height: 180px;
	overflow: auto;
}
.generatorButton {
  margin-left: 20px;
}
.makeItRED {
	color: rgba(256, 34, 49, 1);
	text-shadow: 1px 1px 20px #999;
}

/*-------------- Media Queries ----------------*/
@media only screen and (max-width: 1030px ) {
	.flex-item {
	  padding: 15px;
	  width: 80%;
		min-width: 500px;
	  margin-top: 10px;
	}
}
